<div class="container" style="padding-top: 100px;">
    <div class="row">
        <ul class="col-4 nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/creators">Creators</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sellpoints">Sellpoints</a>
            </li>
        </ul>
        <div class="col-8">
            <app-events></app-events>
        </div>
    </div>
</div>